/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --main-text: #000000;
  --title-color: #212121;
  --paragraph-color: #757575;
  --links-color: rgba(255, 255, 255, 0.6);
  --dark-bg-color: #2F303A;
  --accent-color: #2196F3;
  --buttons-background: #F5F4FA;
  --main-background: #FFFFFF;
  --light-bg-color: #188CE8;
  --border-color: #ECECEC;
  --card-border: #eeeeee;
  --footer-links-color: #44454E;
  --social-logo-color: #AFB1B8;
  --grid-gap: 30px;
  --main-font: 'Roboto', sans-serif;
  --secondary--font: 'Raleway', sans-serif;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin-regular.woff") format("woff"), url("../fonts/roboto-v27-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v27-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v27-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin-500.woff2") format("woff2"), url("../fonts/roboto-v27-latin-500.woff") format("woff"), url("../fonts/roboto-v27-latin-500.ttf") format("truetype"), url("../fonts/roboto-v27-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v27-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin-700.woff2") format("woff2"), url("../fonts/roboto-v27-latin-700.woff") format("woff"), url("../fonts/roboto-v27-latin-700.ttf") format("truetype"), url("../fonts/roboto-v27-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v27-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin-900.woff2") format("woff2"), url("../fonts/roboto-v27-latin-900.woff") format("woff"), url("../fonts/roboto-v27-latin-900.ttf") format("truetype"), url("../fonts/roboto-v27-latin-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v19-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v19-latin-regular.woff") format("woff"), url("../fonts/raleway-v19-latin-regular.ttf") format("truetype"), url("../fonts/raleway-v19-latin-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v19-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin-700.woff2") format("woff2"), url("../fonts/raleway-v19-latin-700.woff") format("woff"), url("../fonts/raleway-v19-latin-700.ttf") format("truetype"), url("../fonts/raleway-v19-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--main-text);
  background-color: var(--main-background);
  font-family: var(--main-font);
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

@media screen and (max-width: 398px) {
  img {
    max-width: 100%;
  }
}

@media screen and (min-width: 480px) {
  img {
    min-width: 100%;
  }
}

@media screen and (max-width: 767px) and (max-width: 480px) {
  img {
    min-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  img {
    width: 100%;
  }
}

.list {
  margin: 0;
  padding: 0;
}

.priorities__text,
.priorities__title,
.services__title,
.services__text,
.team-section__title,
.team-member,
.position {
  letter-spacing: 0.03em;
}

.site-nav,
.contacts,
.btn-section,
.portfolio,
.footer-contacts,
.priorities__items,
.services__row,
.team-section__list,
.list {
  list-style: none;
}

.footer-contacts__link,
.footer-address__location,
.box__text,
.btn-section__buttons,
.header__logo {
  letter-spacing: 0.03em;
}

.site-nav .menu__link,
.contacts__link,
.footer-address__location,
.footer-contacts__link {
  font-size: 14px;
}

.header__logo,
.social-net__links,
.mobile-nav__link,
.site-nav .menu__link,
.contacts__link,
.mobile-contacts__ref {
  text-decoration: none;
}

.footer-address__location,
.footer-contacts__link {
  line-height: 1.72;
}

.box__title,
.section-intro__title,
.section-intro__button {
  letter-spacing: 0.06em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.menu-button {
  position: fixed;
  position: relative;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  border: none;
  padding: 10px 10px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button.is-open {
  position: fixed;
  top: 10px;
  right: 15px;
}

.menu-icon .icon-cross {
  height: 18px;
  width: 18px;
  margin: 0;
  padding: 0;
}

.menu-icon .icon-cross:hover, .menu-icon .icon-cross:focus {
  fill: var(--accent-color);
}

.menu-icon .icon-menu {
  height: 18px;
  width: 18px;
  padding: 0;
  margin: 0;
  fill: var(--main-text);
}

.menu-icon .icon-menu:hover, .menu-icon .icon-menu:focus {
  fill: var(--accent-color);
}

.icon-cross {
  display: none;
}

.menu-icon .icon-menu {
  display: block;
}

.menu-button.is-open .icon-cross {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu-button.is-open .icon-cross {
    display: none;
  }
}

.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;
  position: absolute;
  top: 0%;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 48px 40px;
  z-index: 1;
}

.menu-container.is-open {
  display: block;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  overflow: auto;
}

@media screen and (min-width: 767px) {
  .menu-container.is-open {
    display: none;
  }
}

@media screen and (max-width: 766px) {
  .menu-container .menu-container {
    display: block;
    display: flex;
    top: 0;
    left: 0;
    height: 0;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu-container .social-net__wrap {
    display: none;
  }
}

.menu-container .menu-list {
  margin-top: 0;
  margin-bottom: 0;
}

.menu-container .social-net__list {
  display: inline-flex;
  margin: 0;
  flex-direction: row;
  align-items: center;
}

.menu-container .social-net__item:not(:last-child):after {
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.menu-container .social-net__item:not(:last-child) {
  margin-right: 10px;
}

.menu-container .social-net__item .social-net__links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (max-width: 340px) {
  .menu-container .social-net__item .social-net__links {
    font-size: 12px;
  }
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-nav__item .mobile-nav__link--active {
  color: var(--accent-color);
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 35px;
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__ref {
  color: var(--paragraph-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
}

.mobile-contacts__ref:not(:last-child) {
  margin-bottom: 32px;
}

.btn-section {
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
}

.btn-list {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 479px), (min-width: 480px) {
  .btn-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .btn-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

.btn-section__items:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 479px), (min-width: 480px) {
  .btn-section__items:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 479px) and (min-width: 768px), screen and (min-width: 480px) and (min-width: 768px) {
  .btn-section__items:not(:last-child) {
    margin-bottom: 0;
  }
}

.btn-section__buttons {
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  color: var(--title-color);
  background: var(--buttons-background);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  transform: translateY(0px);
  transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out, background 150ms ease-in-out;
}

.btn-section__buttons:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  background: #18614f;
  transform: translateY(2px);
}

.btn-section__buttons:focus {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  background: #18614f;
  transform: translateY(2px);
}

.btn-section__buttons:focus {
  border-radius: 4px;
  color: var(--main-background);
}

.btn-section__buttons:active {
  border-radius: 4px;
  color: var(--main-background);
}

.btn-section__buttons:hover {
  border-radius: 4px;
  color: var(--main-background);
}

.btn-section__buttons--active {
  color: var(--main-background);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-intro__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  color: var(--main-background);
  background: var(--accent-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  transition: background-color var(--animation) 300ms;
}

.section-intro__button:hover, .section-intro__button:focus {
  background-color: #e76f60;
}

@media screen and (min-width: 320px) {
  .section-intro__button {
    padding: 10px;
  }
}

.section-intro__button.form-sign-up__button--repositioning {
  position: relative;
  display: inline-flex;
  margin: 0px;
  margin-left: 12px;
}

.section-intro__button.form-sign-up__button--repositioning::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url(../img/icons/isend.svg);
  top: 13px;
  left: 150px;
  height: 24px;
  width: 24px;
}

@media screen and (min-width: 320px), (min-width: 480px) {
  .section-intro__button.form-sign-up__button--repositioning {
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-intro__button.form-sign-up__button--repositioning {
    margin-left: 12px;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: inline-flex;
  align-items: baseline;
}

.menu__items:not(:last-child) {
  margin-right: 50px;
}

.contacts__items:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 767.89px) {
  .contacts__items:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__items:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .contacts__link.mail {
    padding-top: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link.mail {
    padding-top: 32px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__link.phone {
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link.phone {
    padding-bottom: 32px;
  }
}

.menu__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .contacts__link {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav .menu__link,
.mobile-nav__link {
  color: var(--main-text);
}

.menu__link.menu__link--active,
.mobile-nav__link.menu__link--active {
  color: var(--accent-color);
}

.menu__link.menu__link--active::after,
.mobile-nav__link.menu__link--active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .menu__link.menu__link--active,
  .mobile-nav__link.menu__link--active {
    display: none;
  }
}

.menu__link {
  position: relative;
}

.menu__link:hover, .menu__link:focus {
  animation-name: changeColor, changeTextTransform;
  animation-duration: 3000ms;
}

@keyframes changeColor {
  0% {
    color: #da1212fa;
  }
}

@keyframes changeTextTransform {
  0% {
    text-transform: uppercase;
  }
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.contacts__link {
  color: var(--paragraph-color);
  transform: scale(1, 1);
  transition: transform var(--animation);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
  transform: scale(1.2, 1.2);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  transform: skew(-30deg);
  fill: #da1212fa;
}

.contacts__link .contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  transform: skewX(0);
  transition: transform var(--animation), fill var(--animation);
}

.site-nav,
.contacts {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0px;
}

@media screen and (max-width: 767px) {
  .site-nav,
  .contacts {
    display: none;
  }
}

.site-nav .menu__link {
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767.89px) {
  .site-nav .menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.contacts_menu {
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 767px) {
  .contacts_menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts_menu {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contacts_menu {
    display: flex;
    align-items: baseline;
  }
}

.contacts__link {
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767.89px) {
  .contacts__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767.89px) {
  .mobile-contacts__ref.contacts__link--large-font {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

@media screen and (max-width: 767.89px) and (max-width: 380px) {
  .mobile-contacts__ref.contacts__link--large-font {
    font-weight: 500;
    font-size: 26px;
    line-height: 1.17;
  }
}

.header__logo {
  display: block;
  margin-right: 93px;
  color: var(--main-text);
  font-family: var(--secondary--font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.20;
}

@media screen and (max-width: 320px) {
  .header__logo {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 320px) {
  .header__logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 480px) {
  .header__logo {
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 767px) {
  .header__logo {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.20;
  }
}

.header__logo--discoloration {
  color: var(--accent-color);
}

.header__logo--discoloring {
  color: var(--main-background);
}

@media screen and (min-width: 768px) {
  .header__logo--layout {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1199.98px) {
  .header__logo--layout {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.header__logo--repositioning {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 320px), (max-width: 767px) {
  .header__logo--repositioning {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo--repositioning {
    text-align: left;
  }
}

.services__title,
.team-section__title,
.clients-section__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .team-section__title,
  .clients-section__title {
    font-size: 28px;
    line-height: 1.17;
  }
}

.social-icons {
  display: flex;
}

@media screen and (max-width: 480px), (max-width: 767px) {
  .social-icons {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .social-icons {
    justify-content: center;
  }
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  transform: scale(1);
  transition: transform var(--animation);
}

.social-icons__link:hover, .social-icons__link:focus {
  border-radius: 50%;
  background-color: var(--accent-color);
  transform: scale(1.5);
}

.social-icons__link:hover .social-icons__image,
.social-icons__link:focus .social-icons__image {
  fill: var(--main-background);
}

.social-icons .social-icons__image {
  width: 20px;
  height: 20px;
}

.social-icons__image {
  fill: var(--social-logo-color);
}

.social-icons__contacts .social-icons__image--discoloring {
  fill: var(--main-background);
}

.social-icons__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-links-color);
}

.social-icons__contacts:hover, .social-icons__contacts:focus {
  background-color: var(--accent-color);
  animation: 1500ms ease 0s normal none 1 running pulse;
}

@keyframes pulse {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  10% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  20% {
    transform: scaleX(1) scaleY(1);
  }
  30% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  40% {
    transform: scaleX(1) scaleY(1);
  }
}

.social-links {
  display: block;
}

.social-links__title {
  display: block;
  margin-bottom: 20px;
  color: var(--main-background);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 320px), (min-width: 480px) {
  .social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .social-links {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .social-links {
    display: block;
  }
}

.subscribe {
  display: flex;
  align-items: baseline;
}

@media screen and (min-width: 320px), (min-width: 480px) {
  .subscribe {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .subscribe {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    display: flex;
    align-items: baseline;
    margin: 0;
    text-align: left;
  }
}

.form-sign-up__element {
  display: inline-flex;
  width: 360px;
  margin: 0;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
}

.form-sign-up__element::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--links-color);
}

@media screen and (min-width: 320px), (min-width: 480px) {
  .form-sign-up__element {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .form-sign-up__element {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-sign-up__element {
    display: inline-flex;
    width: 360px;
    margin-bottom: 0;
  }
}

.form-sign-up:focus-within > .form-sign-up__element {
  color: var(--main-background);
}

.form {
  max-width: 450px;
}

.form__text {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form__field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.form__field--indented {
  margin-bottom: 20px;
}

.form__input {
  padding: 11px 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--animation);
}

.form__icon {
  display: inline-block;
  position: absolute;
  transform: translatey(-65%);
  top: 65%;
  left: 15px;
  width: 12px;
  height: 12px;
}

.form__field:focus-within > .form__icon {
  fill: var(--accent-color);
}

.form__input:focus-within {
  border: 1px solid var(--accent-color);
}

.form__input:hover + .form__icon {
  fill: var(--accent-color);
}

.form__input:hover,
.form__comments:hover {
  border: 2px outset var(--accent-color);
}

.form__input:focus,
.form__comments:focus {
  outline: 2px var(--accent-color);
  border: 2px outset var(--accent-color);
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--paragraph-color);
}

.form__comments {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--animation) 350ms;
}

.form__comments:focus-within {
  border: 1px solid var(--accent-color);
  border: 2px outset var(--accent-color);
}

.form__comments::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field--lower-indent {
  margin-bottom: 36px;
}

.form-checkbox--default {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__checkbox {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  cursor: pointer;
  transition: border var(--animation) 350ms;
}

.form__checkbox:hover, .form__checkbox:focus {
  border: 4px double #a11300;
}

.form-checkbox--default:checked + .form__checkbox {
  background-image: url(../img/icons/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.form__agreement {
  display: flex;
  align-items: center;
  margin-left: 8px;
  align-content: center;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

@media screen and (min-width: 320px) {
  .form__agreement {
    flex-wrap: wrap;
    font-size: 8px;
  }
}

@media screen and (min-width: 420px) {
  .form__agreement {
    margin-left: 0;
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .form__agreement {
    display: flex;
    align-items: center;
    margin-left: 10px;
    align-content: center;
    font-size: 14px;
    line-height: 1.71px;
  }
}

.form__link {
  margin-left: 3px;
  color: var(--accent-color);
}

@media screen and (min-width: 320px) {
  .form__link {
    font-size: 8px;
  }
}

@media screen and (min-width: 420px) {
  .form__link {
    font-size: 12px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .form__link {
    margin-left: 3px;
    font-size: 14px;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

@media screen and (max-width: 480px) {
  .grid {
    margin-top: 0;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .grid {
    margin-left: -30px;
    margin-top: -30px;
  }
}

.grid__item {
  margin-left: var(--grid-gap);
  margin-top: var(--grid-gap);
  flex-basis: calc((100% - 30px *3) / 3);
}

@media screen and (max-width: 480px) {
  .grid__item {
    flex-basis: calc((100% - 30px *1) / 1);
    margin-top: 0;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .grid__item {
    flex-basis: calc((100% - 30px *2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .grid__item {
    flex-basis: calc((100% - 30px *3) / 3);
  }
}

.second-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.second-grid__item {
  margin-left: var(--grid-gap);
  flex-basis: calc((100% - 30px *4) / 4);
}

@media screen and (min-width: 320px), (min-width: 480px) {
  .second-grid__item {
    flex-basis: calc((100% - 30px *1) / 1);
  }
}

@media screen and (min-width: 768px) {
  .second-grid__item {
    flex-basis: calc((100% - 30px *2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .second-grid__item {
    flex-basis: calc((100% - 30px *4) / 4);
  }
}

.third-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.third-grid__item {
  margin-left: var(--grid-gap);
  flex-basis: calc((100% - 30px *3) / 3);
}

.clients-logo {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

@media screen and (min-width: 320px) {
  .clients-logo {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 480px) {
  .clients-logo {
    margin-left: -30px;
    margin-top: -30px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}

.clients-logo__items {
  display: inline-flex;
  margin-left: var(--grid-gap);
  margin-top: var(--grid-gap);
  flex-basis: calc((100% - 30px *6) / 6);
}

@media screen and (min-width: 320px) {
  .clients-logo__items {
    flex-basis: calc((100% - 30px *1)/ 1);
  }
}

@media screen and (min-width: 480px) {
  .clients-logo__items {
    flex-basis: calc((100% - 30px *3)/ 3);
  }
}

@media screen and (min-width: 768px) {
  .clients-logo__items {
    flex-basis: calc((100% -100 *30px)/ 6);
  }
}

@media screen and (min-width: 1200px) {
  .clients-logo__items {
    flex-basis: calc((100% - 30px *6) / 6);
  }
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-section__items {
  margin-left: 30px;
  flex-basis: calc((100% - 30px *4) / 4);
}

@media screen and (max-width: 767px) {
  .team-section__items {
    flex-basis: calc((100% - 30px *1) / 1);
    margin-bottom: 30px;
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .team-section__items {
    flex-basis: calc((100% - 60px) / 2);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-section__items {
    flex-basis: calc((100% - 30px *4) / 4);
    margin-bottom: 0;
  }
}

.priorities,
.team-section,
.clients-section,
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.services {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199.9px) {
  .services {
    display: none;
  }
}

.section-intro {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/desktop-intro@1x.jpg);
  height: 600px;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--dark-bg-color);
}

@media screen and (min-width: 320px), (max-width: 479px) {
  .section-intro {
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/intro-bg.jpg);
  }
}

@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), (max-width: 479px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-resolution: 192dpi), (max-width: 479px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx), (max-width: 479px) and (min-resolution: 2dppx) {
  .section-intro {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/intro-bg@2x.jpg);
  }
}

@media screen and (min-width: 480px), (max-width: 767px) {
  .section-intro {
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/intro-bg.jpg);
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), (max-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx), (max-width: 767px) and (min-resolution: 2dppx) {
  .section-intro {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/intro-bg@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 968px) {
  .section-intro {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/tablet-intro.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 968px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 968px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 968px) and (min-resolution: 2dppx) {
  .section-intro {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/tablet-intro@2x.jpg);
  }
}

@media screen and (min-width: 970px) {
  .section-intro {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: auto;
    margin-left: auto;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/desktop-intro@1x.jpg);
  }
}

@media screen and (min-width: 970px) and (min-device-pixel-ratio: 2), screen and (min-width: 970px) and (min-resolution: 192dpi), screen and (min-width: 970px) and (min-resolution: 2dppx) {
  .section-intro {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/intro@2x.jpg);
  }
}

.header {
  overflow: hidden;
  position: relative;
  border-bottom: var(--border-color) 1px solid;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 320px) {
  .section-intro__content {
    width: 300px;
    height: 180px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 480px), (min-width: 767.99px) {
  .section-intro__content {
    width: 360px;
    height: 164px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .section-intro__content {
    width: 696px;
    height: 120px;
    margin-right: auto;
    margin-left: auto;
  }
}

.section-intro__title {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 234px;
  padding-left: 234px;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--main-background);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 320px) {
  .section-intro__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }
}

@media screen and (min-width: 480px) {
  .section-intro__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  .section-intro__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
  }
}

@media screen and (max-width: 1199.9px) {
  .list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .list-item:not(:last-child) {
    margin: bottom 0px;
  }
}

.list-item::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background: var(--buttons-background);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url(../img/icons/icons-svg/antenna.svg);
}

.icon-clock::before {
  background-image: url(../img/icons/icons-svg/clock.svg);
}

.icon-diagram::before {
  background-image: url(../img/icons/icons-svg/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../img/icons/icons-svg/astronaut.svg);
}

.priorities__title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 320px) {
  .priorities__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px), (min-width: 1200px) {
  .priorities__title {
    text-align: left;
  }
}

.priorities__text {
  margin-bottom: 0;
  margin-top: 10px;
  color: var(--paragraph-color);
  font-size: 14px;
  line-height: 1.72;
}

.services-box {
  position: relative;
}

.box-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.services__text {
  margin: 0 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-background);
}

.team-section {
  background-color: var(--buttons-background);
}

.card {
  background: var(--main-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-content {
  padding: 30px 32px;
}

.card__heading {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.card__text {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

.team-member {
  color: var(--title-color);
  font-weight: 500;
}

.position {
  color: var(--paragraph-color);
}

.team-member,
.position {
  font-size: 16px;
  line-height: 1.19;
}

.clients-logo__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--social-logo-color);
  border-radius: 4px;
  width: 170px;
  height: 90px;
  transform: scale(1, 1);
  transition: transform var(--animation) 300ms, border var(--animation) 300ms;
}

.clients-logo__link:hover, .clients-logo__link:focus {
  border: 5px outset var(--accent-color);
  transform: scale(1.3, 1.3);
}

.clients-logo__link:hover .clients-logo__icon,
.clients-logo__link:focus .clients-logo__icon {
  fill: var(--accent-color);
  transform: scale(1.45, 1.45);
}

.clients-logo .clients-logo__icon {
  fill: var(--social-logo-color);
  transform: scale(1, 1);
  transition: transform var(--animation) 300ms;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.portfolio {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.portfolio__link {
  text-decoration: none;
}

.portfolio__link:hover .box,
.portfolio__link:focus .box {
  border: 1px solid var(--card-border);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:focus .box__info,
.portfolio__link:focus .box__pad::before {
  opacity: 1;
  transform: translatey(0);
}

@media screen and (min-width: 768px) {
  .portfolio__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
  }
}

.portfolio__link .box {
  transition: box-shadow var(--animation), border var(--animation);
}

.box {
  background: var(--main-background);
  border: 1px solid var(--card-border);
}

.box .box__text {
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 1.88;
}

.box .box__text--layout {
  margin-top: 0;
  margin-bottom: 0;
}

.box .box__title {
  color: var(--title-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}

.box .box__title--repositioning {
  margin-top: 0;
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .box {
    flex-grow: 1;
  }
}

.box__pad {
  position: relative;
  overflow: hidden;
}

.box__pad::before {
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms ease-in;
}

.box__pad:hover::before,
.box__pad:hover .box__info {
  opacity: 1;
  transform: translatey(0);
}

.box__pad .box__info {
  position: absolute;
  opacity: 0;
  transform: translatey(100%);
  transition: transform 250ms ease-in;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.55;
  color: var(--main-background);
}

@media screen and (max-width: 375px) {
  .box__pad .box__info {
    font-size: 14px;
    padding-top: 30px;
  }
}

.box__content {
  padding: 20px 25px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

.footer-content {
  display: flex;
  align-items: baseline;
}

@media screen and (min-width: 320px) {
  .footer-content {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer-address {
  margin-right: 70px;
}

@media screen and (min-width: 320px), (min-width: 480px) {
  .footer-address {
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-address {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    margin-right: 0;
  }
}

.footer-address__place {
  font-style: normal;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.footer-address__location {
  margin-top: 0px;
  color: var(--main-background);
}

@media screen and (min-width: 320px), (min-width: 480px) {
  .footer-address__location {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address__location {
    text-align: left;
  }
}

.footer-address__location:not(:last-child),
.footer-contacts__items:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) {
  .footer-contacts {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    text-align: left;
  }
}

.footer-contacts__link {
  color: var(--links-color);
}

.footer-contacts__link {
  text-decoration: none;
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 700ms ease-out 350ms;
}

@media screen and (max-width: 480px) {
  .backdrop {
    padding: 94px 15px;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .backdrop {
    padding: 94px 15px;
    overflow-y: scroll;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 581px;
  width: 528px;
  top: 55%;
  left: 50%;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--main-background);
  visibility: visible;
  transition: transform 700ms ease-in-out 200ms;
}

@media screen and (max-width: 479px) {
  .modal {
    padding-left: 20px;
    padding-right: 20px;
    max-height: 100%;
    max-width: 440px;
    width: 100%;
    top: 53%;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    padding: 40px;
    height: 609px;
    width: 450px;
    top: 52%;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
    top: 55%;
  }
}

.is-hidden .modal {
  transform: translate(100%, -100%) scale(0.6);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  padding: 8px 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: var(--main-background);
}

.button-close__icon {
  width: 11px;
  height: 11px;
  fill: var(--main-text);
}

.button-close__icon:hover {
  fill: var(--accent-color);
}

.button-close:focus .button-close__icon {
  fill: var(--accent-color);
}
/*# sourceMappingURL=style.css.map */