    .services__title,
    .team-section__title,
    .clients-section__title {
        margin-top: 0;
        margin-bottom: 50px;
        color: var(--title-color);
        font-weight: bold;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
    }
    
    @media screen and(max-width:768px) {
        .team-section__title,
        .clients-section__title {
            font-size: 28px;
            line-height: 1.17;
        }
    }