                    .footer {
                        padding-top: 60px;
                        padding-bottom: 60px;
                        background-color: var(--dark-bg-color);
                    }
                    
                    .footer-content {
                        display: flex;
                        align-items: baseline;
                        @media screen and(min-width: 320px) {
                            display: block;
                        }
                        @media screen and(min-width:768px) {
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: row;
                            justify-content: space-around;
                        }
                        @media screen and(min-width:1200px) {
                            display: flex;
                            align-items: baseline;
                            justify-content: space-between;
                        }
                    }
                    
                    .footer-address {
                        margin-right: 70px;
                        @media screen and(min-width: 320px), (min-width: 480px) {
                            margin-right: 0;
                            margin-bottom: 60px;
                        }
                        @media screen and(min-width:768px) {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 0;
                        }
                        @media screen and(min-width:1200px) {
                            margin-right: 0;
                        }
                        &__place {
                            font-style: normal;
                            display: block;
                            margin-bottom: 0;
                            margin-top: 0;
                            padding: 0;
                        }
                        &__location {
                            margin-top: 0px;
                            color: var(--main-background);
                            @media screen and(min-width: 320px), (min-width: 480px) {
                                text-align: center;
                            }
                            @media screen and(min-width:1200px) {
                                text-align: left;
                            }
                        }
                    }
                    
                    .footer-address__location:not(:last-child),
                    .footer-contacts__items:not(:last-child) {
                        margin-bottom: 9px;
                    }
                    
                    .footer-contacts {
                        margin: 0;
                        padding: 0;
                        @media screen and(min-width: 320px) {
                            text-align: center;
                        }
                        @media screen and(min-width:1200px) {
                            text-align: left;
                        }
                        &__link {
                            color: var(--links-color);
                        }
                    }
                    
                    .footer-contacts__link {
                        text-decoration: none;
                        &:hover,
                        &:focus {
                            color: var(--accent-color);
                        }
                    }